{{!< default}}
<h1>{{susu.title}}</h1>
<pre>{{susu.description}}</pre>
<pre>{{wtf}}</pre>
<ol>
  {{#each susu.members}}
    <li>
      <div>{{this.name.full}}</div>
      <div>{{this.email}}</div>
    </li>
  {{/each}}
</ol>